{% extends('WaleedBlogMapBundle:Layouts:main.html.twig') %}

{% block content -%}
    {% include 'WaleedBlogMapBundle:Front:partials/elements/flash.html.twig' %}

    <h1>Post edit</h1>

    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
    <div class="form-group">
    {{ form_label(edit_form.postTitle) }}
    {{ form_errors(edit_form.postTitle) }}
    {{ form_widget(edit_form.postTitle,{'attr':{'class':'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(edit_form.postContent) }}
        {{ form_errors(edit_form.postContent) }}
        {{ form_widget(edit_form.postContent,{'attr':{'class':'form-control','rows':10}}) }}
    </div>
<div class="checkbox">

    <label>
        {{ form_widget(edit_form.active) }} Active
    </label>
    {{ form_errors(edit_form.active) }}

    </div>
    <div class="form-group">
        {{ form_label(edit_form.category) }}
        {{ form_errors(edit_form.category) }}
        {{ form_widget(edit_form.category,{'attr':{'class':'form-control'}}) }}
    </div>
       {{ form_end(edit_form) }}
    <hr>
           {{ form(delete_form,{'class' : 'btn btn-danger'}) }}
    <hr>
<a href="{{ path('post') }}">Back to the list</a>
{% endblock %}
