{% extends('WaleedBlogMapBundle:Layouts:main.html.twig') %}


{% block content -%}
    {% include 'WaleedBlogMapBundle:Front:partials/elements/flash.html.twig' %}

    <h1>Post list</h1>

    <table class="records_list table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Active</th>
                <th>Category</th>
                <th>Created at</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('post_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.postTitle }}</td>
                <td>{{ entity.postContent }}</td>
                <td>{{ entity.active }}</td>
                <td><a href="{{ path('category_show', { 'id': entity.id }) }}">{{ entity.category.categoryName }}</a></td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('post_show', { 'id': entity.id }) }}">show</a>
&nbsp;
                        <a class="btn btn-danger" href="{{ path('post_edit', { 'id': entity.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


            <a class="btn btn-primary btn-lg" href="{{ path('post_new') }}">
                Create a new entry
            </a>
    {% endblock %}
