{% extends('WaleedBlogMapBundle:Layouts:main.html.twig') %}

{% block content -%}
    {% include 'WaleedBlogMapBundle:Front:partials/elements/flash.html.twig' %}

    <h1>Post Create</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form-group">
        {{ form_label(form.postTitle) }}
        {{ form_errors(form.postTitle) }}
        {{ form_widget(form.postTitle,{'attr':{'class':'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.postContent) }}
        {{ form_errors(form.postContent) }}
        {{ form_widget(form.postContent,{'attr':{'class':'form-control','rows':10}}) }}
    </div>
    <div class="checkbox">

        <label>
            {{ form_widget(form.active) }} Active
        </label>
        {{ form_errors(form.active) }}

    </div>
    <div class="form-group">
        {{ form_label(form.category) }}
        {{ form_errors(form.category) }}
        {{ form_widget(form.category,{'attr':{'class':'form-control'}}) }}
    </div>
    {{ form_end(form) }}
    <hr>
    <a href="{{ path('post') }}">Back to the list</a>
{% endblock %}
