{% extends('WaleedBlogMapBundle:Layouts:main.html.twig') %}


{% block content -%}
    {% include 'WaleedBlogMapBundle:Front:partials/elements/flash.html.twig' %}

    <div class="row">
        <div class="col-md-8">
            <h1>Post</h1>
        </div>
        <div class="col-md-4">
            <div class="pull-right"> <a class="btn btn-success" href="{{ path('post_edit', { 'id': entity.id }) }}">
                    Edit
                </a></div>
        </div>
    </div>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.postTitle }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ entity.postContent }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{% if entity.active == 1 %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <a class="btn btn-primary" href="{{ path('post') }}">
            Back to the list
        </a>
    <hr>


            {{ form(delete_form,{'class' : 'btn btn-danger'}) }}
{% endblock %}
