{% extends('WaleedBlogMapBundle:Layouts:main.html.twig') %}

{% block content %}
    <hr>
    {% for post in posts %}
        <h3>
            <a href="{{ url('waleed_blog_map_post_view',{slug:post.slug}) }}">{{ post.postTitle }}</a>
        </h3>
        <small class="badge badge-info">{{ post.createdAt|date("F jS Y \\a\\t g:ia") }}</small>
        <p>
            {{ post.postContent|raw|slice(0,100) }}...<a href="{{ url('waleed_blog_map_post_view',{slug:post.slug}) }}">Read More</a>
        </p>
    {% endfor %}

    {% include('WaleedBlogMapBundle:Front/partials/elements:pagination.html.twig') %}

{% endblock %}


