{% extends('WaleedBlogMapBundle:Layouts:main.html.twig') %}

{% block content %}
    <h3>
        {{ post.postTitle }}
    </h3>
    <em>in Category: <a href="{{  url('waleed_blog_map_category_view',{id:post.category.id}) }}">{{ post.category.categoryName }}</a></em>
    <br>
    <small class="badge badge-info">{{ post.createdAt|date("F jS Y \\a\\t g:ia") }}</small>
    <p>
        {{ post.postContent|raw }}
    </p>
    {% include 'WaleedBlogMapBundle:Front:partials/elements/flash.html.twig' %}
    {{ render(controller('WaleedBlogMapBundle:Front:comments',{'postId': post.id })) }}

    {{ render(controller('WaleedBlogMapBundle:Front:newComment',{'postId': post.id })) }}


{% endblock %}
