{% if categories|length > 0 %}


        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories<strong class="caret"></strong></a>
            <ul class="dropdown-menu">
                {% for category in categories %}
                    <li><a href="{{  url('waleed_blog_map_category_view',{id:category.id}) }}">{{ category.categoryName|capitalize }}</a></li>
                {% endfor %}


            </ul>
        </li>
{% endif %}
