<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button> <a class="navbar-brand" href="{{ url('waleed_blog_map_homepage') }}">BlogMap!</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="{{ url('waleed_blog_map_homepage') }}">Home</a>
            </li>
            {{ render(controller('WaleedBlogMapBundle:Front:getAllCategories')) }}
        </ul>
        {% if is_granted('ROLE_ADMIN') %}
        <ul class="nav navbar-nav navbar-right">

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<strong class="caret"></strong></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ url('post') }}">Posts</a>
                    </li>
                    <li>
                        <a href="{{ url('category') }}">Categories</a>
                    </li>
                    <li class="divider">
                    </li>
                    <li>
                        <a href="/logout">Logout</a>
                    </li>

                </ul>
            </li>
        </ul>
        {% endif %}
    </div>

</nav>