<div class="row">
    <div class="col-md-12">
        <h2>Comments</h2>
{% for comment in comments %}
        <h3>{{ comment.title }}</h3>
    <small class="badge badge-info">{{ comment.createdAt|date("F jS Y \\a\\t g:ia") }}</small>
<br>
    <p>
        {{ comment.content|raw }}
    </p>
        {% endfor %}
        <hr>
    </div>
</div>