{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Add Comment</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form-group">
        {{ form_label(form.title) }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title,{'attr':{'class':'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.content) }}
        {{ form_errors(form.content) }}
        {{ form_widget(form.content,{'attr':{'class':'form-control','rows':10}}) }}
    </div>
    
    {{ form_end(form) }}
{% endblock %}
