{% extends('WaleedBlogMapBundle:Layouts:main.html.twig') %}

{% block content %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('login') }}" method="post">
            <div class="form-group">

                <label for="username">
                    Username
                </label>
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}"/>
            </div>
            <div class="form-group">

                <label for="password">
                    Password
                </label>
                <input type="password" name="_password" class="form-control" id="password" />
            </div>
            <button type="submit" class="btn btn-default">
                Login
            </button>
        </form>

    </div>
</div>
{% endblock %}