{% extends('WaleedBlogMapBundle:Layouts:main.html.twig') %}


{% block content -%}
    {% include 'WaleedBlogMapBundle:Front:partials/elements/flash.html.twig' %}

    <h1>Category edit</h1>

    {{ form_start(edit_form) }}

   <div class="form-group">
       {{ form_label(edit_form.categoryName) }}
       {{ form_errors(edit_form.categoryName) }}
       {{ form_widget(edit_form.categoryName,{'attr':{'class':'form-control'}}) }}

   </div>
    {{ form_end(edit_form) }}
    <hr>
    {{ form(delete_form,{'class' : 'btn btn-danger'}) }}
    <hr>
    <a href="{{ path('category') }}">Back to the list</a>
{% endblock %}