{% extends('WaleedBlogMapBundle:Layouts:main.html.twig') %}

{% block content -%}
    {% include 'WaleedBlogMapBundle:Front:partials/elements/flash.html.twig' %}

    <h1>Category list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Category Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('category_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.categoryName }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('category_show', { 'id': entity.id }) }}">show</a>
                    &nbsp;
                    <a class="btn btn-danger" href="{{ path('category_edit', { 'id': entity.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a class="btn btn-primary btn-lg" href="{{ path('category_new') }}">
                Create a new entry
            </a>
    {% endblock %}
