{% extends('WaleedBlogMapBundle:Layouts:main.html.twig') %}

{% block content -%}
    {% include 'WaleedBlogMapBundle:Front:partials/elements/flash.html.twig' %}

    <h1>Category Create</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form-group">
        {{ form_label(form.categoryName) }}
        {{ form_errors(form.categoryName) }}
        {{ form_widget(form.categoryName,{'attr':{'class':'form-control'}}) }}
    </div>

    {{ form_end(form) }}
    <hr>
    <a href="{{ path('category') }}">Back to the list</a>
{% endblock %}
