{% extends('WaleedBlogMapBundle:Layouts:main.html.twig') %}

{% block content -%}
    <div class="row">
        <div class="col-md-8">
            {% include 'WaleedBlogMapBundle:Front:partials/elements/flash.html.twig' %}

            <h1>Category</h1>
        </div>
        <div class="col-md-4">
            <div class="pull-right"> <a class="btn btn-success" href="{{ path('post_edit', { 'id': entity.id }) }}">
                    Edit
                </a></div>
        </div>
    </div>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Category Name</th>
                <td>{{ entity.categoryName }}</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('category') }}">
        Back to the list
    </a>
    <hr>


    {{ form(delete_form,{'class' : 'btn btn-danger'}) }}
{% endblock %}
